* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navContainer {
  background: linear-gradient(to bottom, blue 25%, yellow 50% , blue 70%);
    padding: 2rem;
    position: relative;
    z-index: 100;
}

.navList {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    margin-top: 2rem;
  
}
 
.navItem {
  font-family: 'Dancing Script', cursive;
  color : yellow;
  text-decoration: none;
  
}


.titulo {
  color: yellow;
  font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 0 !important;
}

.carousel {
  text-align: center;
  background-color: #ffe573;
  width: 100%;
  position: relative;
  height: 400px; /* Ajusta la altura del contenedor */
  overflow: hidden; /* Evita que las imágenes se desborden */
}

.carousel img {
  height: 100%; /* Asegura que la imagen ocupe todo el contenedor en altura */
  width: 100%; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Recorta la imagen si no se ajusta al contenedor */
}

.carousel button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

  /* GAME */

 .game {
  background-color: #ffe573;
    padding: 2rem;
 }
 .juego{
  font-family: 'Dancing Script', cursive;
 }

 .poema {
  padding: 1rem;
  background-color: #ffe573;
  margin-bottom: 0 !important;
 }

.titulo-poema {
  text-align: center;
}
  
.poema-content {
  margin-bottom: 0 !important;
}
  /* FOOTER */


  .footer {
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    margin-bottom: 0;
    background: linear-gradient(to bottom, blue 25%, yellow 50% , blue 70%);
  }
  
  .footer-p {
    font-family: "Kolker Brush", cursive;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .footer-ul {
    display: flex;
    list-style-type: none;
   
  }
  
  .footer-redes {
    color: #fff;
    margin-inline: 1rem;
    font-size: 1.3rem;
  }

  .footer-redes a{
    color: #fff;
  }



  .poema-content {
    font-family: 'Dancing Script', cursive;
  }
  .titulo-poema{
    font-family: 'Raleway', sans-serif;
  }

  .respuestas{
    font-family: 'Roboto', sans-serif;
  }

  .button-game {
    margin-top: 1rem;
    color: yellow;
    background-color: blue;
    padding: 0.3rem;
    border-radius: 0.3rem;
  }
  .game-options {
    display: flex;
    gap: 1rem;
  }

  .image-gallery{
    min-height:55vh;
  }